# virtual environment
.venv

# cache files 
__pycache__
*.pyc

# back up files
*.bkp

# personal settings
.vscode

# environmental variable
.env

# ignore the database for now
app.db

# personal files
delete.ipynb